export(mlmc)
export(mlmm)
export(setinitvalues)
import(MASS)
import(Matrix)
import(Rcpp)
import(ggplot2)
import(rstan)
import(rstantools)
import(stats4)
import(methods)
importFrom(stats,terms,model.frame,model.matrix,model.response)
importFrom(stats,rWishart,rgamma,rnorm)
importFrom(Matrix,Diagonal)
importFrom(MASS,mvrnorm) 
useDynLib(mlmm, .registration = TRUE)