export(mlmc)
export(mlmm)
export(setinitvalues)
import(MASS)
import(Matrix)
import(Rcpp)
import(ggplot2)
import(rstan)
import(rstantools)
import(stats4)
import(methods)
useDynLib(mlmm, .registration = TRUE)